/* --- Scroll Button ---*/

:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#scrollButton section {
    height: 100vh;
    width: 100%;
    position: relative;
    display: table;
}

#scrollButton section.ok {
    z-index: 0;
}


/* - Transition and Animation - */

.scroll-down {
    opacity: 1;
    -webkit-animation: bounce 2.5s infinite 2.5s;
    -webkit-transition: all 1s ease;
    transition: all 1s ease 2s;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}


/* - Design - */

.scroll-down {
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -16px;
    z-index: 100;
}

.scroll-down:before {
    position: absolute;
    left: calc(50% - 6px);
    top: calc(50% - 8px);
    transform: rotate(-45deg);
    display: block;
    width: 40px;
    height: 40px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 3px 3px;
}

#scrollButton2 .scroll-down{
    position: absolute;
    margin-left: -16px;
    z-index: 100;
    left:50%;
    
    bottom:-750px;
}